# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 
azure-functions==1.20.0
pymongo
pandas
pyarrow
azure-storage-blob
python-dotenv
